<h1 style="text-align:center"> R107 TP n°8 : Jupyter notebook, tuple, set, dict (2h)</h1>

<table style="width:90%">
    <tr>
        <th colspan="4"><p style="font-size:1.8em; text-align:center;">Contenu</p></th>
    </tr>
    <tr>
        <td><p style="font-size:1.5em; text-align:center;">list (rappels)</p></td>
        <td><p style="font-size:1.5em; text-align:center;">tuple</p></td>
        <td><p style="font-size:1.5em; text-align:center;">set</p></td>
        <td><p style="font-size:1.5em; text-align:center;">dict</p></td>
    </tr>
</table>

### Programmation avec un Jupyter Notebook

Vous mettrez et interpréterez vos instructions dans ce notebook.

### list (révisions - vues au TP 4)

Une liste est **modifiable** ("mutable") et **ordonnée** (indicée par des entiers à partir de 0), elle peut contenir des **données hétérogènes et dupliquées**. On peut créer une liste avec **[]** ou **list()**.

* Créez ci-dessous une **variable l** contenant une liste contenant les 100 premiers nombres pairs (entiers positifs, 0 est pair). Puis affichez là. 

_(aide : utilisez une list comprehension)_

In [471]:
l=[elt*2 for elt in range(100)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

* Affichez le dernier entier de la liste
* Puis affichez les 3 premiers
* Puis affichez les 3 derniers
* Puis afficher l'entier en position 24 de la liste (ayant pour indice 24)
* Puis affichez l'entier en position 44 de la liste 
* Puis affichez tous les entiers entre les positions 24 et 44 incluses.

In [472]:
print("Le dernier entier de la liste est",l[-1])
print("Les 3 premiers de la liste sont",l[:3:])
print("Les 3 derniers de la liste sont",l[-3::1])
print("L'entier en position 24 est ",l[24])
print("L'entier en position 44 est",l[44])
print("Les entiers entre les positions 24 et 44 incluses",l[24:45])

Le dernier entier de la liste est 198
Les 3 premiers de la liste sont [0, 2, 4]
Les 3 derniers de la liste sont [194, 196, 198]
L'entier en position 24 est  48
L'entier en position 44 est 88
Les entiers entre les positions 24 et 44 incluses [48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]

* Combien y a-t-il d'entiers entre les positions 24 et 44 incluses ?

In [473]:
len(l[24:45])

21

* Ajoutez 245 à la fin de cette liste avec la méthode **append**

In [479]:
l.append(245)
l

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 245]

* Ajoutez 512 à la fin de cette liste en utilisant les crochets []

In [485]:
l+=[512]
l

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 245,
 512]

* Vérifiez ces ajouts en affichant les 2 derniers éléments de la liste

In [486]:
print("les 2 derniers éléments ajouter sont",l[-2::])

les 2 derniers éléments ajouter sont [245, 512]

* Quelle est la moyenne des éléments de cette liste à deux chiffres près après la virgule ?

In [487]:
moyenne=sum(l)/len(l)
print(round(moyenne,2))

104.48

### tuple (liste non modifiable)

Un tuple est **NON modifiable** ("immutable") et **ordonnée** (indicée par des entiers à partir de 0), elle peut contenir des **données hétérogènes et dupliquées**. On peut créer une liste avec **()** ou **tuple()**.

* Créez ci-dessous un **tuple t** contenant les 50 premiers nombres entiers impairs.

_(aide : passez par une list comprehension que vous convertirez en tuple grâce à la fonction **tuple()**)_

In [488]:
li=[(elt*2)+1 for elt in range(50)]
t=tuple(li)
t

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

Comme indiqué en cours les **tuples sont _non modifiables_** :
    
    * Vous pouvez utiliser les mêmes méthodes pour accéder aux données/éléments que les listes
    * Mais les méthodes pour modifier un tuple sont interdites, par exemple :
        * Pas le droit de faire t[0] = 10 
        * Pas le droit d'utiliser la méthode append(), t.append(10) par exemple
        
Si vous allez modifier votre liste : utiliser une liste

Mais si vous voulez une liste que vous n'allez pas modifier, alors utiliser un tuple. Les accès aux données seront alors plus rapides.

Pour tester la plus grande rapidité des tuples pour accéder aux données que les listes, nous allons construire une liste contenant les entiers de 1 à 100 et un tuple contenant ces mêmes entiers.

* Créez une variable **liste100** contenant une liste contenant les entiers de 1 à 100.
* Créez une variable **tuple100** contenant un tuple contenant les entiers de 1 à 100.

In [505]:
liste100 = [elt for elt in range(1,101)]
tuple100 = tuple(liste100)

Vous allez maintenant écrire une suite d'instructions parcourant la liste pour compter le nombre d'entiers strictement plus grand que 50, puis faire la même chose en parcourant le tuple t.

Pour mesurer le temps mis par chaque programme nous utiliserons la méthode time() du module time. Nous prendrons le temps avant et après chaque programme (avec la méthode time()) pour afficher la différence qui sera en seconde(s) le temps mis par chaque programme.

* Complétez le programme suivant

In [506]:
from time import time

debut = time()
# Instructions comptant le nombre d'entiers strictement plus grand que 50 dans liste100 et l'affichant

# À compléter      

fin = time()
print(f"Temps mis par la liste : {fin-debut:.5f} seconde(s)")

debut = time()
# Instructions comptant le nombre d'entiers strictement plus grand que 50 dans t et l'affichant

# À compléter
        
fin = time()
print(f"Temps mis par le tuple : {fin-debut:.5f} seconde(s)")

Temps mis par la liste : 0.00002 seconde(s)
Temps mis par le tuple : 0.00002 seconde(s)

### set (ensemble)

Un set (ensemble) est **modifiable** ("mutable"). Il n'est **PAS ordonné**. Il peut contenir des **données hétérogènes** mais **NON dupliquées** : chaque donnée d'un set est donc **unique**. On peut créer un set avec **set()**.

Les <strong>sets (ensembles)</strong> sont donc optimisés pour contenir des données <strong>non ordonnées</strong> et <strong>sans doublons</strong> (un même objet ne peut être présent qu'une seule fois dans l'ensemble) afin de réaliser des opérations ensemblistes :

    * Intersection avec le symbole &
    * Union avec le symbole |
    * Différence avec le symbole -

Considérons deux variables **s1** et **s2** contenant deux sets :

In [507]:
s1 = {1,2,3,4}
s2 = {3,4,"a","b"}

* Affichez s1 et s2

In [508]:
print(s1)
print(s2)

{1, 2, 3, 4}
{'a', 3, 4, 'b'}

_(Remarquez que l'ordre peut différer de la saisie)_

* Affichez :
    * l'**intersection** de <code>s1</code> et <code>s2</code> (Les éléments présents dans <code>s1</code> et <code>s2</code>)
    * l'**union** de <code>s1</code> et <code>s2</code> (Les éléments présents dans <code>s1</code> ou <code>s2</code>)
    * la **différence** <code>s1-s2</code> (Les éléments de <code>s1</code> qui ne sont pas dans <code>s2</code>)
    * la **différence** <code>s2-s1</code> (Les éléments de <code>s2</code> qui ne sont pas dans <code>s1</code>)

(La différence n'est pas une opération commutative)

In [509]:
print(f"Intersection : {s1&s2}")
print(f"Union : {s1|s2}")
print(f"s1 moins s2 : {s1-s2}")
print(f"s2 moins s1 : {s2-s1}")

Intersection : {3, 4}
Union : {1, 2, 3, 4, 'b', 'a'}
s1 moins s2 : {1, 2}
s2 moins s1 : {'a', 'b'}

* Transformez la liste ["a","b","c","b"] en un set affecté à une variable **s3**, puis affichez **s3**

In [510]:
liste=["a","b","c","b"]
s3=set(liste)
s3

{'a', 'b', 'c'}

On remarque que le doublon "b" n'est plus présent dans le set. 

Transformez une liste en set puis en liste est une méthode classique en Python pour enlever les doublons à une liste, par contre on perd l'ordre.

Enlevez les doublons à la liste ["a","b","c","b"] (l'ordre n'a pas d'importance) :

In [515]:
li2=["a","b","c","b"]
set1=set(li2)
new=list(set1)
new

['a', 'c', 'b']

Proposez ci-dessous une suite d'instructions pour enlever les doublons à la liste ["a","b","c","b"] cette fois en conservant l'ordre :

_(cette fois, il n'est plus possible de passer par un set)_

In [523]:
def suppprimer_doublon(liste):
    res=[]
    for elt in liste:
        if elt not in res:
            res.append(elt)
    return res
suppprimer_doublon(li2)

['a', 'b', 'c']

* Créez une fonction **liste_commune_v1** prenant en paramètres deux listes et retournant une liste composées des éléments communs à ces deux listes, en utilisant la technique de transformer des listes en sets pour faire des opérations ensemblistes.

In [555]:
def liste_commune_v1(l1,l2):
    commun=list(set(l1)&set(l2))
    return  commun# une seule instruction dans la fonction suffit
liste_commune_v1([4,6,87,9],[4,9,5,87,1])

[9, 4, 87]

On souhaite comparer la rapidité de cette méthode avec une méthode qui n'utiliserait pas une opération avec des ensembles. 

* Créez une deuxième version **liste_commune_v2** utilisant une **list comprehension** pour construire cette liste d'éléments communs.

_(aide : on peut mettre un if dans la list comprehension)_

_(aide : on prend les éléments e dans l1 s'ils sont dans l2)_

In [ ]:
def liste_commune_v2(l1,l2):
    return [e for e in liste] # une seule instruction dans la fonction suffit

On peut donc comparer le temps d'éxecution des deux méthodes avec le code suivant en utilisant à nouveau la méthode time() du module time.

In [558]:
from time import time

l1 = [i for i in range(1000)]
l2 = [i+10 for i in range(1000)]

debut = time()
l3 = liste_commune_v1(l1,l2)
fin = time()
print(f"Temps mis par la version 1 : {fin-debut:.5f} seconde(s)")

debut = time()
l4=liste_commune_v2(l1,l2)
fin = time()
print(f"Temps mis par la version 2 : {fin-debut:.5f} seconde(s)")

Temps mis par la version 1 : 0.00005 seconde(s)

TypeError: 'ellipsis' object is not iterable

Alors intéressant les sets ? (oui/non/nspp)

_=> réponse : oui quand l'ordre n'a pas d'importance_

Soient deux variables initialisées comme ceci :

In [ ]:
a = {}
b = set()

* Affichez le type de chacune de ces variables (avec la fonction **type**)

In [ ]:
print(type(a))
print(type(b))

Il faut donc faire attention : <code>{}</code> désigne un <code>dictionnaire vide</code> et non un ensemble vide (qui lui est construit avec  <code>set()</code>).

### dict (dictionnaire)

Un dict contient des couples **clé:valeur**. Il est **modifiable** ("immutable") et **ordonné** (depuis Python 3.7). Il peut contenir des **données hétérogènes**. Les **clés sont uniques** et les **valeurs peuvent être duspliquées**.

* Créez puis affichez une variable <code>etudiant</code> contenant un dictionnaire avec les couples (clé,valeur) suivants :

"nom" => "Paul"<br/>
"age" => 20<br/>
"cours" => une liste contenant "Réseau" et "Télécom"

* Écrivez l'instruction affichant le nom de l'étudiant

* Affichez les cours suivis par l'étudiant

* Affichez le téléphone de l'étudiant en y accédant par <code>etudiant["telephone"]</code> (l'idée est de voir l'erreur affichée)

Vous avez une erreur <code>KeyError</code>.

* Pour ne pas avoir cette erreur et simplement un retour <code>None</code>, utilisez cette fois la méthode <code>get</code> avec <code>etudiant.get("telephone")</code>

* Affichez le nom de l'étudiant avec la méthode <code>get</code>

* Si une clé n'est pas trouvable, au lieu de <code>None</code> vous pouvez retourner une chaîne comme par exemple "Cette clé n'existe pas", en utlisant <code>etudiant.get("telephone", "Cette clé n'existe pas")</code>. Affichez le retour de cette instruction :

La méthode <code>update</code> permet de mettre à jour plusieurs items (clé : valeur)

* Mettez à jour la variable <code>etudiant</code> avec 21 comme age et "06 06 06 06 06" comme numéro de téléphone.

* Puis affichez cette variable <code>etudiant</code>

* Afficher le nombre d'items (couples clé - valeur) dans <code>etudiant</code> avec la méthode <code>len</code>

* Afficher les clés dans <code>etudiant</code> sur une ligne séparées par un espace.

In [ ]:
# Deux façons :
# v1
for k in etudiant.keys():
    print(k, end=" ")

# ou
print()
# v2
for e in etudiant:
    print(e, end=" ")

* Afficher les valeurs dans <code>etudiant</code> sur une ligne séparées par un espace.

In [ ]:
for v in etudiant.values():
    print(v, end=" ")

* Afficher les couples clés - valeurs dans <code>etudiant</code> sous la forme clé : valeur

In [ ]:
for k,v in etudiant.items():
    print(k,":",v)

* En utilisant la **concaténation (+) de listes**, ajoutez "Prog" comme cours suivi par l'étudiant. puis affichez le.

* En utilisant la méthode **append()** des listes, ajoutez également "Anglais" comme cours suivi.

**Le symbole <code>*</code> décompose un dictionnaire suivant les clés**

* Testez l'instruction <code>print(*etudiant)</code>

In [ ]:
print(*etudiant)

* Affichez avec cette méthode les clés séparées par un <code>|</code> cette fois

In [ ]:
print(*etudiant, sep="|")

**Le symbole <code>*</code> décompose aussi list, tuple et set**

* Testez les instructions suivantes :

In [ ]:
print(*[1,2,3,4])
print(*(1,2,3,4))
print(*{1,2,3,4})

* Vous allez maintenant créer un programme dans ce notebook ci-dessous **donnant les ingrédients pour réaliser une pâte à crêpe suivant le nombre de personnes donné par l'utilisateur**.


Par défaut la recette pour 10 personnes est 
<pre><xmp>==========================
| Recette pour 10 crêpes |
==========================
Oeufs : 3.0
Sachet de sucre vanillé : 1.0
Lait (cl) : 35.0
Farine (g) : 125.0
Huile (c.à.s) : 1.0</xmp></pre>

**Vous stockerez obligatoirement cette recette dans un dictionnaire crepe**

* **Exemple de déroulement obligatoire du programme :**
<pre><xmp>Combien de crêpes voulez-vous faire (idéalement un multiple de 10) ? 30</xmp></pre>
<pre><xmp>==========================
| Recette pour 30 crêpes |
==========================
Oeufs : 9.0
Sachet de sucre vanillé : 3.0
Lait (cl) : 105.0
Farine (g) : 375.0
Huile (c.à.s) : 3.0</xmp></pre>

In [ ]:
crepe = {
    "Oeufs": 3,
    "Sachet de sucre vanillé":1,
    "Lait (cl)": 35,
    "Farine (g)": 125,
    "Huile (c.à.s)": 1
}

# Recette pour NB_CREPES crêpes
NB_CREPES = 10

n = int(input("Combien de crêpes voulez-vous faire (idéalement un multiple de 10) ? "))

# À compléter

### Exercice supplémentaire (non corrigé en TP)

* Créez un programme en charge de gérer l'inventaire d'un magasin d'équipement réseau où l'inventaire est un dictionnaire que le programme permet de mettre à jour via un menu pour ajouter/enlever un produit, modifier les quantités disponibles, ...